pyyaml
tqdm
pandas
Pillow
scipy<1.13
kornia
h5py
scikit-learn
visdom
django-environ
hydra-core
fvcore
matplotlib
seaborn

#torch==1.12.1+cu116
#torchvision==0.13.1+cu116
#torchaudio==0.12.1
#--extra-index-url https://download.pytorch.org/whl/cu116
torch>=2.2
torchvision
torchaudio
--extra-index-url https://download.pytorch.org/whl/cu124
